.chainContainer {
  width: 100%;
  border-radius: 10px;
  padding: 10px 30px;
}

.addButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.name {
}

.chainInfoContainer {
  display: flex;
  align-items: flex-start;
  margin-left: 52px;
  margin-bottom: 20px;
}

.dataPoint {
  flex: 1;
  margin-right: 10px;
}

.dataPointHeader {
  padding-bottom: 7px;
}

.chainNameContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 12px !important;
}
